@using PBL3_HK4.Entity

@{
    ViewData["Title"] = "Order Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    OrderSummaryViewModel orderSummaryViewModel = Model as OrderSummaryViewModel;
    ShoppingCart shoppingCart = orderSummaryViewModel.ShoppingCart;
    IEnumerable<CartItem> cartItems = shoppingCart.Items;
    IEnumerable<Product> products = orderSummaryViewModel.Products;
    Customer customer = orderSummaryViewModel.Customer;
}
<div class="row my-4">
    <div class="col-1"></div>
    <div class="col-10 border p-0" style="border-radius: 20px; overflow: hidden;">
        <div class=" border-bottom py-3 px-4 d-flex justify-content-between align-items-center" style="background-color: #E6DACE;">
            <h3 class="fw-bold mb-0 text-white">Order Summary</h3>
            <a asp-controller="Home" asp-action="ShoppingCart" class="btn btn-outline-danger px-4">
                <i class="bi bi-arrow-left me-1"></i> BACK TO CART
            </a>
        </div>
        <div class="row mx-0 py-4 border-bottom">
            <div class="col-md-6 px-4">
                <h4 class="fw-bold mb-4">Shipping Details</h4>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingOrderSummaryName" placeholder="Name" value="@customer.Name" disabled>
                    <label for="floatingOrderSummaryName">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingOrderSummaryPhone" placeholder="Phone" value="@customer.Phone" disabled>
                    <label for="floatingOrderSummaryPhone">Phone</label>
                </div>
                <div class="form-floating mb-1">
                    <textarea class="form-control" id="floatingOrderSummaryAddress" placeholder="Address" style="resize: none; outline: none; box-shadow: none;height: 120px" disabled>@customer.Address</textarea>
                    <label for="floatingOrderSummaryAddress">Address</label>
                </div>
            </div>
            <div class="col-md-6 px-4">
                <h4 class="fw-bold mb-4">Order Summary</h4>
                <ul class="list-group list-group-flush" style="border-radius: 10px; overflow: hidden;">
                    @foreach (CartItem cartItem in cartItems)
                    {
                        var product = orderSummaryViewModel.GetProductByCartId(cartItem.ProductID);
                        <li class="list-group-item py-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="fw-medium mb-1">@product.ProductName.</p>
                                    <p class="text-muted mb-0">Quantity: @cartItem.Quantity</p>
                                </div>
                                <p class="text-success fw-bold fs-5 mb-0">@cartItem.Price ₫</p>
                            </div>
                        </li>
                    }
                    <li class="list-group-item p-0">
                        <button class="btn w-100 py-2 fw-medium rounded-0" style="background-color: #FF9500; color: white;">
                            <i class="bi bi-ticket-perforated-fill me-2"></i> Use Discount
                        </button>
                    </li>
                    <li class="list-group-item p-0">
                        <div class="d-flex justify-content-between align-items-center px-3 py-1" style="background-color: #80B500; font-size: 24px">
                            <span class="text-white fw-bold">Total:</span>
                            <span class="text-white fw-bold">@shoppingCart.TotalAmount ₫</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="px-4 py-3 d-flex justify-content-between align-items-center">
            <p class="mb-0">
                <i class="bi bi-calendar-event me-2"></i>
                Estimate Arrival Date: @DateTime.Now.AddDays(3).ToString("dd/MM/yyyy") - @DateTime.Now.AddDays(5).ToString("dd/MM/yyyy")
            </p>
            <a asp-controller="Home" asp-action="PlaceOrder" class="btn fw-bold px-4 py-2" style="background-color: #E86D1F; color: white;">
                PLACE ORDER <i class="bi bi-arrow-right ms-2"></i>
            </a>
        </div>
    </div>
    <div class="col-1"></div>
</div>
